<%= render partial: "shared/navbar", locals: { title: "Add Transaction", logout: false, back_path: category_transactions_path } %>

<div class="w-full flex flex-col space-y-4">
  <%= form_with(model: [@category, @transaction], local: true, method: :post) do |f| %>
    
    <div class="w-full">
      <%= f.text_field :name, autocomplete: "off", placeholder:"Transaction Name", class: "text-field" %>
    </div>

    <div class="w-full">
      <%= f.number_field :amount, in: 1..10000, step: 0.01, autocomplete: "off", placeholder:"Amount", class: "number-field" %>
    </div>

    <div class="w-full">
    <%= f.collection_select :category_id, @categories, :id, :name, required: true, placeholder:"Select Categories" %>
    </div>

    <%= f.hidden_field :author_id, value: current_user.id %>

    <div class="w-full fixed inset-x-0 bottom-0 submit-button">
      <div class="submit-button-border">
        <%= f.submit "Create Transaction", class: "button" %>
      </div>
    </div>
  <% end %>
</div>